@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer base {
  html {
    font-family: 'poppins', sans-serif;
    background-color: #bc7050;
    /* .rubik {
      font-family: 'Rubik', sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
    } */
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
